.login-container{
  width:100%;
  max-width: 1920px;
  min-width:800px;
  display:table;
  height:100%;
  margin:auto;
}

.app-details-container{
  padding:10px;
  width: 60%;
  height: 100%;
  max-width:1152px;
  float:left;
  display:inline-table;
}

.login-form-container{
  padding:75px;
  width: 40%;
  height:100%;
  max-width:768px;
  float:left;
  display:inline-table;
}

.login-form-footer{
  width:100%;
  display:inline-table;
  margin-top:30px;
}

.login-link{
  width:100%;
  text-align:left;
  float:left;
  display:inline-block;
}

.app-title{
    font-size:28px;
    text-align:left;
    color: #8BC34A !important;
    margin-bottom:10px;
}

.btn-login{
    width:100%;
    margin-top:10px;
}

label{
    display: inline-block;
    margin-bottom: .5rem;
    text-align: left;
    width: 100%;
    color: #878787;
}
